<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mc.game">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />
    <!-- android8:检测来保护web浏览的安全性 -->
    <meta-data
        android:name="android.webkit.WebView.EnableSafeBrowing"
        android:value="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- x5内核 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />


    <!-- SDK权限开始 -->



    <!-- SDK权限结束 -->



    <application
        android:name="com.mc.game.H5Application"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${ENVIRONMENT}"
            />



        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>


        <activity
            android:name="com.mc.game.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>


        <activity
            android:name="com.mc.game.activity.MainActivity"

            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:hardwareAccelerated="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rxcqh530000000" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mc.game.activity.HtmlActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:hardwareAccelerated="true"
            >

        </activity>



        <!-- 加载web支付 -->
        <activity
            android:name="com.proxy.activity.StartWebView"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Light" />

        <activity
            android:name="com.proxy.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            />

        <!--sdk配置开始-->



        <!--

        <activity
            android:name="com.game.sdk.activity.AccounterBindActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.AccountManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.AutomaticLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/McTheme.FloatActivity"

            />

        <activity
            android:name="com.game.sdk.activity.AutoLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.BindCellActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.FastLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />


        <activity
            android:name="com.game.sdk.activity.FirstLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />


        <activity
            android:name="com.game.sdk.activity.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.game.sdk.activity.PasswordUpdateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"

            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />


        <activity
            android:name="com.game.sdk.activity.TourtistRegActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />


        <activity
            android:name="com.game.sdk_project.SelecteLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

-->





    </application>

</manifest>